{% extends "base.html" %}

{% block content %}
    <h1>Pick an entry to read.</h1>
    <p>If you don't have any entries, create a <a href="/newpost">new post</a></p>
    
    <form method="POST">
        <label>Stories to tell:</label>
    </form>

    <hr />
    
    {% if blogs|length == 0 %}
    <p>No blog entries yet :(</p>
    {% else %}
        
        {% for blog in blogs %}
            
            <a href="/blog?id={{ blog.id }}"><strong>{{ blog.title }}  </strong></a>  - - -          
            {% for user in users %} 
                {% if user.id == blog.author_id %}
                    <a href="/blog?userid={{ user.id }}">{{ user.name }}</a>
                {% endif %}
            {% endfor %} 
            <p>{{ blog.body }}</p>
            {{ email }}
        
        {% endfor %}
    
    {% endif %}


{% endblock %}
