{% extends "base.html" %}
{% block content %}


        <h1>SignUp:</h1>
        <form action="/signup" method="post">
            <table>

                <tr>
                    <th>Name:</th>
                    <th><input type="text" name="username" value='{{ username }}'></th>
                    <th><span class="error">{{ un_error }}</span></th>
                </tr>
                <tr>
                    <th>Email:</th>
                    <th><input type="text" name="email" value='{{ email }}'></th>
                    <th><span class="error">{{ email_fail }}</span></th>
                </tr>
                <tr>
                    <th>Password:</th>
                    <th><input type="password" name="password"></th>
                    <th><span class="error">{{ pw_error }}</span></th>
                </tr>
                <tr>
                    <th>Re-Enter Password:</th>
                    <th><input type="password" name="verify"></th>
                    <th><span class="error">{{ verify_error }}</span></th>
                </tr>

            </table>
            <input type="Submit">

{% endblock %}
