{% extends "base.html" %}

{% block content %}
    <head>
        <Style>
            .error {color: red}
            body {
                text-align: center;
                font-size: 1em;
                font-family: 'arial black';
                color: aqua;
                background-color: darkgrey 
            }
        </Style>
        <title>Success & Welcome! </title>
    </head>
    <body>
        <h1>Welcome {{ user.name }} !</h1>
        <form action="/blog">
            <input type="submit" value="Go to All Blogz">
        </form>
  

        
        <a href="/blog?name={{ user.name }}"><h2>{{ user.name }}</h2></a>
        
        {% for blog in blogs %} 

            <a href="/blog?id={{ blog.id }}"><h3>{{ blog.title }}</h3></a>

        {% endfor %}

    </body>
{% endblock %}
