<!doctype html>
<html>
    <head>
        <Style>
            .error {color: red}
            body {
                text-align: center;
                font-size: 1em;
                font-family: 'arial black';
                color: aqua;
                background-color: darkgrey 
            }
        </Style>
        <title>Success & Welcome! </title>
    </head>
    <body>
        <h1>Welcome {{ email }} !</h1>
        <form action="/blog">
            <input type="submit" value="Go to All Blogz">
        </form>
    </body> 
</html>